
body {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* MENU */
#header {
  background-color: #FC6822;/*orange foncé*/
  width: 100%;
  top: 0;
}
#header nav {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header nav .logo {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#header nav .logo .maphoto {
  display: none;
  color: white;
  text-decoration: none;
  font-size: 1em;
  align-self: center;
  margin-right: 10px;
}
#header nav .logo img {
  vertical-align: top;
  width: 70px;
}

nav .ico {
  display: inline-block;
  text-align: right;
  font-family: 'Roboto', sans-serif; /* police ds le menu*/
  font-size: 16px;
  letter-spacing: 0.1em;
}
nav .ico a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  padding: 0.2em;
}
nav .ico a:hover {
  color: #373F40;
}
nav .ico .i {
  width: 3%;
  height: 3%;
  padding-right: 0.6em;
}

/* rajout image-logo arrondi */
.logo, .maphoto {
overflow:hidden;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

img { 
  width: 100px;
  height: 100px;
  margin: auto;
}
/* fin arrondi*/


h1 {
  text-align: center;
  color:#FC6822;
  padding: 0.4em;
}

h3 {
  text-align: center;
  color: #2A3031;
  opacity: 0.8;
}

.cards {
  display: flex;
  justify-content: center;
}
.cards .card {
  background: #FC6822; /*bleu foncé*/
  border-radius: 10px;
  margin: 0.4em 0.2em 0.2em 0.2em;
}

.cards .card .miniature {
  background: #FCB022; /*jaune clair*/
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #000;
  font-size: 0.8em;
}
.cards .card .miniature img {
  width: 100%;
  max-width: 7em;
  padding: 0.8em 0 0.8em 0;
  height: auto;
}
.cards .card .card-content p {
  padding: 0.8em 0.8em 0.5em 0.8em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.cards .card .card-content a img{
  padding: 1em 0.8em 0.5em 0.8em;
  justify-content: space-between;
  width: 43%;
  height: 43%;
}

/* pour l'heure et son alignement

.cards .card .card-content #date_heure{
    padding: 3em 1.8em 1.5em 1.8em;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;

}*/

.articles {
  display: flex;
  justify-content: center;
}
.articles .article {
  background: #fee1ac;/*jaune trèe clair*/
  border-radius: 10px;
  margin: 0.4em 0.2em 0.2em 0.2em;
  padding: 0 0.2em 0 0.2em;
}

.articles .article h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  color: #373F40; /*gris-noir*/
}

.articles .article li {
  padding: 0.5em 0.8em 0.5em 0.8em;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  color: #000;
}

li .gras {
  font-weight: bold;
  color: #f30;
}

.articles .article hr {
  margin-bottom: 1em;
  height: 2px;
  border: none;
  background: #FC6822;
}

.lien {
  color: #4b3efc;
  text-decoration: none;
}

/* MON FOOTER /////////////////////////////// */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3em;
  padding: 1em;
  background-color: #FC6822;
}

footer img {
  width: 68px;
  height: 68px;
}



/*les plus petites tailles /////////////////////////// */
@media all and (min-width: 0px) {
  .cards, .articles {
    flex-flow: row wrap;
  }

  .card {
    width: 100%;
  }
  .cards .card .card-content a img {
  width: 14%;
  }
  h2 {
    padding-bottom: 3%;
  }

  footer img {
    width: 30px;
    height: 30px;
  }
}

@media all and (min-width: 480px) {
  .cards, .articles {
    flex-flow: row wrap;
  }
  .card {
    width: 45%;
  }
  .article {
    width: 90%;
  }
    .cards .card .card-content a img { 
    padding: 2em 0.4em 0.5em 1em;
    justify-content: space-between;
    width: 20%;
  }
  h2 {
    padding-bottom: 3%;
  }

footer img {
  width: 48px;
  height: 48px;
}
}

@media all and (min-width: 930px) {
  .cards {
    flex-flow: row wrap;
  }
  .card {
    width: 23%;
  }
  .article {
    width: 46%;
  }
  .cards .card .card-content a img{
    padding: 2.8em 0.4em 0.5em 0.4em;
    justify-content: space-between;
    width: 24%;
    height: 24%; 
  }
}

/*ici ci dessus; en dessous de 780px le logo pète //////////////// */
@media all and (max-width: 780px) {
  #header nav {
    flex-direction: column;
  }
  #header nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
  #header nav .logo img {
    width: auto;
  }
  #header nav .logo .maphoto {
    display: inline-block;
  }
  #header nav .ico {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #header nav .ico a {
    border-bottom: 2px solid #28A0FC;
  }
  #header nav .ico a:hover {
    background-color: #2A3031;
    color: white;
  }
  .cards .card .card-content a img{
    padding: 1em 0.8em 0.2em 1.4em;
    justify-content: space-between;
    width: 18%;
    height: 18%;  
  }
}



